	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Alumiar Administração</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Animais
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a th:href="@{/admin/animais/form}">Novo</a></li>
	          <li><a th:href="@{/admin/animais/listar}">Listar</a></li>
	        </ul>
	      </li>
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Endereços de E-mail
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a th:href="@{/admin/newsletter/listEmails}">Listar</a></li>
	        </ul>
	      </li>
        <li><a th:href="@{/admin}"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
	    </ul>
	  </div>
	</nav>