<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Lista de Emails</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" th:href="@{/}">Alumiar Administração</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Animais
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a th:href="@{/admin/animais/form}">Novo</a></li>
	          <li><a th:href="@{/admin/animais/listar}">Listar</a></li>
	        </ul>
	      </li>
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Endereços de E-mail
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a th:href="@{/admin/newsletter/listEmails}">Listar</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container">
		<div class="jumbotron">
			<h2>LISTA DE E-MAILS</h2>
		</div>
		<div id="listaAnimais">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>NOME</th>
						<th>EMAIL</th>
					</tr>
				</thead>

				<tr th:each="user : ${users}">
					<td><span th:text="${user.id}"></span></td>
					<td><span th:text="${user.nome}"></span></td>
					<td><span th:text="${user.email}"></span></td>
				</tr>
			</table>
		</div>
	</div>		
</body>
</html>	