<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/head">
    <head>
  		<meta charset="UTF-8"/>
        <title>Alumia/adote</title>
    </head>
    <body>
        <section class="secao-tamanho">
             <article class="secao">
                  <h1 class="secao-titulo color-laranja">Adoção</h1>
            </article>
            <article class="secao-textos alinhar-texto-centro tamanho-fonte">
                <p>Ao adotar um dos animais aqui disponíveis, você estará mudando a 
                vida de um bichinho. </p>
            </article>
            <section class="bg-laranja">
                <section class="secao" th:each="animal : ${animais}">
                    <article class="divisao-animal-desc bg-branco" >
                        <div class="sociais-menu-img bg-gata1 bg-img-estrutura">
                                  <img alt="" th:src="${animal.pathFoto}" />
                        </div>
                        <div class="sociais-menu-img color-laranja">
                             <h2 class="secao-textos descricao-animal" th:text="${animal.nome}">THALIA</h2>
                             <p  class="secao-textos descricao-animal" th:text="${animal.descricao}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                              Vivamus tincidunt lobortis dui, id ullamcorper diam vehicula nec.</p>
                             <div class="bg-azul-escuro barra-descricao-animal"></div>
                        </div>
                    </article>
                </section>
            </section>  
        </section>
    </body>
</html>