<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/head">
    <head>
    	<meta charset="UTF-8"/>
        <title>Alumiar/menu</title>
    </head>
    <body>

        <!-- Barra -->
        <section class="barra-fixa secao bg-branco">
                <img src="../img/barra.png" alt="">
        </section>
        <!-- Inicio -->
        <section class="secao secao-tamanho bg-azul-escuro margin-barra">
            <article >
                <img class="logo" src="../img/logogif.gif" alt="">
                <h1 class="secao-titulo titulo-inicio color-amarelo">Alumiar</h1>

            </article>
        </section>  
        <!-- Menu -->
        <section>
            <section class="secao secao-estrutura-titulo bg-amarelo margin-barra" id="secao-projeto-titulo">
                <h1 class="secao-titulo color-branco">O projeto</h1>
            </section>
            <section class="secao secao-estrutura-titulo bg-turquesa" id="secao-ensaio-titulo">
                <h1 class="secao-titulo color-branco">Ensaios</h1>
            </section>
            <section class="secao secao-estrutura-titulo bg-laranja">
                <h1 class="secao-titulo color-branco">Adoção</h1>
            </section>
            <section class="secao secao-estrutura-titulo bg-vermelho">
                <h1 class="secao-titulo color-branco">Apoio</h1>
            </section>
            <section class="secao secao-estrutura-titulo bg-azul-escuro">
                <h1 class="secao-titulo color-branco">Sobre nós</h1>
            </section>
            <section class="sociais-menu">
                <div class="sociais-menu-img bg-face-menu bg-img-estrutura"></div>
                <div class="sociais-menu-img bg-insta-menu bg-img-estrutura"></div>
            </section>
        </section>
        <!-- Projeto -->
        <section class="bg-branco">
            <article class="secao-tamanho margin-barra">
                <section class=" secao">
                    <img class="img-sobre" src="../img/projeto.png" />
                </section>
                <section class="texto-o-projeto">
                    <p class="secao-textos alinhar-texto-centro color-azul-escuro">O Alumiar é uma 
                    <b class="secao-texto-bold">ação</b> que nasce no <b class="secao-texto-bold">coração do 
                    sertão</b> central com a proposta de dar luz ao trabalho voluntário feito pelos projetos 
                    sociais de <b class="secao-texto-bold">apoio aos animais abandonados</b>            
                    na cidade de Quixadá.</p>
                </section>
            </article>
            <!-- parte2 -->
            <article >
                <section class="secao">
                    <h1 class="secao-titulo color-amarelo">Porque Alumiar?</h1>
                </section>
                <section>
                    <section>
                        <div class="secao">
                            <img class="margin-barra" src="../img/Ativo 14.png" />
                        </div>
                        <h3 class="secao-subtitulo color-amarelo alinhar-texto-centro">Ajudar projetos sociais</h3>
                        <p class="secao-textos alinhar-texto-centro color-azul-escuro">Na cidade de Quixadá existem muitos projetos sociais que 
                            realizam o trabaho de ajudar bichinhos abandonados com muito amor e carinho, porém, 
                            também com muitas dificuldades. Eles lidam com problemas como falta de sede para abrigar 
                            os animais,
                            poucos recursos e poucas adoções.</p>
                    </section>
                    <section>
                        <div class="secao ">
                            <img class="margin-barra" src="../img/Ativo 15.png" />
                        </div>
                        <h3 class="secao-subtitulo color-amarelo alinhar-texto-centro">Dar visibilidade aos Lares Temporários</h3>
                        <p class="secao-textos alinhar-texto-centro color-azul-escuro">Os animais encontrados em estado de abandono são 
                            abrigados pelos voluntários, que transformam suas casa em lares temporários, devido a 
                            falta de visibilidade e conhecimento da população, muitos desses animais permanecem 
                            nesses locais por toda a vida, impossibilitando os voluntários abrigar novos bichinhos.</p>
                            
                    </section>
                    
                </section>
            </article>
        </section>
        <!-- Ensaios -->
        <section>
            <div class="ensaio">
                <div class="para-en">
                    <img src="../img/ensaios.png" alt="">
                    <p class="en-descricao">Realizados por fotógrafos voluntários que se sensibilizaram com a causa, os ensaios visam mostrar os animais e o trabalho dos projetos sociais a partir da visão dos fotógrafos, mostrando a beleza, a individualidade e a realidade dos animais, com o intuito de conscientizar a população em relação às dificuldades e também que cada animal merece e precisa de um lar, e pode ser fonte de muito amor, compreensão e carinho.</p>
                </div>
                
                <div class="para-aviso">
                    <p>Todos os animais que aparecem nos ensaios estão disponíveis para adoção.</p>
                    <img src="../img/direcional-baixo.png" alt="">
                </div>
            </div>
            <div class="catalogo">
                <div class="en-1">
                    <img class="icone-mais" src="../img/icone-mais.png" alt="">
                    <p class="p-ensaio">ENSAIO 1</p>
                    <P class="p-nome">Projeto Social Mão Amiga</P>
                    <img class="foto-en" src="../img/images.jpg" alt="">
                </div>
                <div class="en-1">
                        <img class="icone-mais" src="../img/icone-mais.png" alt="">
                        <p class="p-ensaio">ENSAIO 2</p>
                        <P class="p-nome">Projeto Social 4 Patas</P>
                        <img class="foto-en" src="../img/images2.jpg" alt="">
                </div>
                <div class="en-3">
                        <P class="p-nome3">Projeto Social APAQ</P>
                        <img class="foto-en" src="../img/images3.jpg" alt="">
                </div>
                <div class="ensaio-detalhe">
                    <img class="icon-down" src="../img/icon-down.png" alt="">
                    <p class="p-ensaio3">Nome do Ensaio</p>        
                    <img class="insta-icon" src="../img/instagram.png" alt="">
                    <p class="legenda">Fotos por <span>Little Wolf</span></p><br><br>
                    <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <p class="esq"><</p>
                    <P class="dir">></P>
                    <img class="adotar" src="../img/adotar.png" alt="">
                    <img class="foto-slide" src="../img/historia-adocao-animal-cachorro.jpg" alt="">
                </div>
                <div class="adote-bicho">
                    <img src="../img/adote-um-bicho.png" alt="">
                </div>
            </div>  
        </section>
        <!-- Adoção -->
        <section class="">
            <section>
                <h1  class="secao-titulo color-laranja secao">Adoção</h1>
                    <p class="color-azul-escuro secao-textos alinhar-texto-centro tamanho-fonte">Ao adotar um dos 
                        animais aqui disponíveis, você estará mudando a vida de um bichinho. </p>
            </section>
            <!-- catálogo -->
            <section class="bg-laranja secao">
                <br>
                <article class="divisao-animal-desc bg-branco">
                    <div class="sociais-menu-img  bg-img-estrutura">
                        <img class= "img-catalogo" src="../img/img1.png" alt="">
                    </div>
                    <div class="sociais-menu-img color-laranja">
                            <h3 class="secao-textos ">THALIA</h3>
                            <p class="secao-textos ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Vivamus tincidunt lobortis dui, id ullamcorper diam vehicula nec.</p>
                            <div class="bg-azul-escuro"></div>
                    </div>
                </article>
            </section>
             <!-- catálogo -->
             <section class="bg-laranja secao">
                <article class="divisao-animal-desc bg-branco">
                    <div class="sociais-menu-img  bg-img-estrutura">
                        <img class= "img-catalogo" src="../img/img1.png" alt="">
                    </div>
                    <div class="sociais-menu-img color-laranja">
                            <h3 class="secao-textos ">THALIA</h3>
                            <p class="secao-textos ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Vivamus tincidunt lobortis dui, id ullamcorper diam vehicula nec.</p>
                            <div class="bg-azul-escuro"></div>
                    </div>
                </article>
            </section>
            <!-- catálogo -->
            <section class="bg-laranja secao">
                <article class="divisao-animal-desc bg-branco">
                    <div class="sociais-menu-img  bg-img-estrutura">
                        <img class= "img-catalogo" src="../img/img1.png" alt="">
                    </div>
                    <div class="sociais-menu-img color-laranja">
                            <h3 class="secao-textos ">THALIA</h3>
                            <p class="secao-textos ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Vivamus tincidunt lobortis dui, id ullamcorper diam vehicula nec.</p>
                            <div class="bg-azul-escuro"></div>
                    </div>
                </article>
            </section>
                <!-- catálogo -->
                <section class="bg-laranja secao">
                <article class="divisao-animal-desc bg-branco">
                    <div class="sociais-menu-img  bg-img-estrutura">
                        <img class= "img-catalogo" src="../img/img1.png" alt="">
                    </div>
                    <div class="sociais-menu-img color-laranja">
                            <h3 class="secao-textos ">THALIA</h3>
                            <p class="secao-textos ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Vivamus tincidunt lobortis dui, id ullamcorper diam vehicula nec.</p>
                            <div class="bg-azul-escuro"></div>
                    </div>
                </article>
            </section>
        </section>
        <!-- Apoio -->
        <section class="secao-tamanho bg-vermelho margin-barra">
            <section class="secao">
                <h1 class="secao-titulo color-branco">Apoio</h1>
            </section>
            <section>
                <section>
                    <p class="secao-textos alinhar-texto-centro tamanho-fonte color-branco">Mesmo sem adotar, você ainda pode contribuir para que 
                        os animais abandonados tenham uma vida melhor.</p>
                </section>
                <section>
                    <p class="secao-textos alinhar-texto-centro tamanho-fonte color-branco">Você pode fazer <b>apoiar</b> de diversas formas diferentes, 
                    veja:</p>
                </section>
                <article class="secao margin secao-icones-apoio">
                    <img class="icone-apoio" src="../img/apoio-icon-3.png" />
                    <img class="icone-apoio" src="img/apoio-icon-2.png" />
                </article>
                <article class="secao">
                        <img class="icone-apoio" src="../img/apoio-icon-4.png" />
                        <img class="icone-apoio" src="../img/apoio-icon-1.png" />

                </article>
            </section>
        </section>
        <!-- Apoio-modal -->
        <section class="bg-vermelho">
            <div class="sair bg-branco">
                    &#10006
            </div>
            <section class="secao-tamanho margin-barra">
                <section class="titulo-apoio">
                    <section  class="secao">
                        <img class="margin-titulo-apoio" src="../img/apoio-icon-3.png" />
                        <h1  class="secao-titulo-apoio fonte-titulos margin-titulo-apoio color-branco">Conexão Animal</h1>
                    </section>

                </section>
                <section class="secao2 bg-vermelho">
                    <p class="secao-textos alinhar-texto-centro color-branco">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br></p>
                    <section class="img-ong-apoio bg-img-estrutura bg-ong-apoio">
                    </section>
                    <p class="secao-textos alinhar-texto-centro color-branco"><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br></p>
                </section>

            </section>
        </section>
        <!-- Sobre Nós/footer -->
        <section>
            <section class="secao secao-tamanho bg-foto-sobre bg-img-estrutura margin-barra">
                    <img src="../img/SOBRE-NOS.png" alt="">
                </section>
                <section class="secao-tamanho" >
                        <article class="secao">
                            <p class="secao-textos alinhar-texto-centro color-azul-escuro"> 
                            O projeto gira em torno de quatro projetos sociais que atuam em Quixadá, a 4Patas, APAQ,
                            Conexão Animal e Mão Amiga, um grupo de pessoas unidas pelo amor aos animais e por um 
                            objetivo em comum, ajudar aqueles animais que não possuem lar, realizando um trabalho com 
                            muitas dificuldades e obstáculos, porém sem nunca desistir de sua missão. O Alumiar existe 
                            por esses projetos, para apoiá-los, divulgar suas causas e necessidades, e para levar 
                            conhecimento e consciência para a população de Quixadá sobre eles e o seu empenho e amor 
                            à causa animal.
                            </p>
                        </article>
                        <article class="secao">
                            <img class="img-sobre" src="../img/logo-sobre.png" alt="">
                        </article>
                </section>
                <footer class="bg-azul-escuro secao-footer color-branco">
                    <article >
                        <h1 class="secao-textos alinhar-texto-centro">Siga o Alumiar</h1>
                        <article class="secao">
                            <img class="redes-socias" src="../img/FACE.png" alt="">
                            <img class="redes-socias" src="../img/INSTA.png" alt="">
                        </article>
                    </article>
                    <article class="footer-form">
                        <h3 class="secao-textos alinhar-texto-centro">ACOMPANHE OS ANIMAIS QUE CHEGAM PARA ADOÇÃO </h3>
                        <form class="secao">
                            <div>
                                <input  class="campo-form" type="text" placeholder="Nome">
                                <input class="campo-form" type="text" placeholder="Email">
                            </div>
                        </form>
                        <div class="botao-form bg-branco">
                                Acompanhar
                        </div>
                    </article >  
                    <article class=" secao-textos alinhar-texto-centro rodape">
                        <p>2017 ~ Alumiar. Todos os direitos reservados.</p>
                    </article>
                </footer>

        </section>
    </body>
</html>