<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/head">
    <head>
    	<meta charset="UTF-8"/>
        <title>Alumiar/ensaios</title>
    </head>
<body>
    <div class="ensaio">

        <section>
            <div class="ensaio">
                <div class="para-en">
                    <img src="../img/ensaios.png" alt=""/>
                    <p class="en-descricao">Realizados por fotógrafos voluntários que se sensibilizaram com a causa, os ensaios visam mostrar os animais e o trabalho dos projetos sociais a partir da visão dos fotógrafos, mostrando a beleza, a individualidade e a realidade dos animais, com o intuito de conscientizar a população em relação às dificuldades e também que cada animal merece e precisa de um lar, e pode ser fonte de muito amor, compreensão e carinho.</p>
                </div>
                
                <div class="para-aviso">
                    <p>Todos os animais que aparecem nos ensaios estão disponíveis para adoção.</p>
                    <img src="../img/direcional-baixo.png" alt=""/>
                </div>
            </div>
            <div class="catalogo">
                <div class="en-1">
                    <img class="icone-mais" src="../img/icone-mais.png" alt=""/>
                    <p class="p-ensaio">ENSAIO 1</p>
                    <P class="p-nome">Projeto Social Mão Amiga</P>
                    <img class="foto-en" src="../img/images.jpg" alt=""/>
                </div>
                <div class="en-1">
                        <img class="icone-mais" src="../img/icone-mais.png" alt=""/>
                        <p class="p-ensaio">ENSAIO 2</p>
                        <P class="p-nome">Projeto Social 4 Patas</P>
                        <img class="foto-en" src="../img/images2.jpg" alt=""/>
                </div>
                <div class="en-3">
                        <P class="p-nome3">Projeto Social APAQ</P>
                        <img class="foto-en" src="../img/images3.jpg" alt=""/>
                </div>
                <div class="ensaio-detalhe">
                    <img class="icon-down" src="../img/icon-down.png" alt=""/>
                    <p class="p-ensaio3">Nome do Ensaio</p>        
                    <img class="insta-icon" src="../img/instagram.png" alt=""/>
                    <p class="legenda">Fotos por <span>Little Wolf</span></p><br/><br/>
                    <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <p class="esq"></p>
                    <p class="dir"></p>
                    <img class="adotar" src="../img/adotar.png" alt=""/>
                    <img class="foto-slide" src="../img/historia-adocao-animal-cachorro.jpg" alt="" />
                </div>
                <div class="adote-bicho">
                    <img src="../img/adote-um-bicho.png" alt="" />
                </div>
            </div>  
        </section>
	</div>
</body>
</html>