<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/head">
    <head>
    	<meta charset="UTF-8"/>
        <title>Alumiar</title>
    </head>
	<body>
	    <section class="bg-branco">
	        <article class="secao-tamanho margin-barra">
	             <section class=" secao">
	                 <img class="img-sobre" src="../img/projeto.png" />
	            </section>
	            <section class="texto-o-projeto">
	                <p class="secao-textos alinhar-texto-centro color-azul-escuro">O Alumiar é uma 
	                <b class="secao-texto-bold">ação</b> que nasce no <b class="secao-texto-bold">coração do 
	                sertão</b> central com a proposta de dar luz ao trabalho voluntário feito pelos projetos 
	                sociais de <b class="secao-texto-bold">apoio aos animais abandonados</b>            
	                na cidade de Quixadá.</p>
	            </section>
	        </article>
	        <!-- parte2 -->
	        <article >
	            <section class="secao">
	             <h1 class=" secao-titulo color-amarelo">Porque Alumiar?</h1>
	            </section>
	            <section>
	                <section>
	                    <div class="secao">
	                        <img class="margin-barra" src="../img/Ativo 14.png" />
	                    </div>
	                    <h3 class="secao-subtitulo color-amarelo alinhar-texto-centro">Ajudar projetos sociais</h3>
	                    <p class="secao-textos alinhar-texto-centro color-azul-escuro">Na cidade de Quixadá existem muitos projetos sociais que 
	                    realizam o trabaho de ajudar bichinhos abandonados com muito amor e carinho, porém, 
	                    também com muitas dificuldades. Eles lidam com problemas como falta de sede para abrigar 
	                    os animais,
	                    poucos recursos e poucas adoções.</p>
	                </section>
	                <section>
	                    <div class="secao ">
	                         <img class="margin-barra" src="../img/Ativo 15.png" />
	                    </div>
	                    <h3 class="secao-subtitulo color-amarelo alinhar-texto-centro">Dar visibilidade aos Lares Temporários</h3>
	                    <p class="secao-textos alinhar-texto-centro color-azul-escuro">Os animais encontrados em estado de abandono são 
	                    abrigados pelos voluntários, que transformam suas casa em lares temporários, devido a 
	                    falta de visibilidade e conhecimento da população, muitos desses animais permanecem 
	                    nesses locais por toda a vida, impossibilitando os voluntários abrigar novos bichinhos.</p>
	                    
	                </section>
	            
	             </section>
	        </article>
	    </section>
	
	</body>
</html>
