<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/head">
    <head>
    	<meta charset="UTF-8"/>
        <title>Alumiar/sobre-nos</title>
    </head>
    <body>
       <section class="secao secao-tamanho bg-foto-sobre bg-img-estrutura">
           <img src="img/SOBRE-NOS.png" alt="" />
       </section>
       <section class="secao-tamanho" >
            <article class="secao">
                <p class="secao-textos alinhar-texto-centro"> 
                O projeto gira em torno de quatro projetos sociais que atuam em Quixadá, a 4Patas, APAQ,
                Conexão Animal e Mão Amiga, um grupo de pessoas unidas pelo amor aos animais e por um 
                objetivo em comum, ajudar aqueles animais que não possuem lar, realizando um trabalho com 
                muitas dificuldades e obstáculos, porém sem nunca desistir de sua missão. O Alumiar existe 
                por esses projetos, para apoiá-los, divulgar suas causas e necessidades, e para levar 
                conhecimento e consciência para a população de Quixadá sobre eles e o seu empenho e amor 
                à causa animal.
                </p>
            </article>
            <article class="secao">
                <img class="img-sobre"  src="img/logo-sobre.png" alt="" />
            </article>
       </section>
       <footer class="bg-azul-escuro secao-footer color-branco">
            <article >
                <h1 class="secao-textos alinhar-texto-centro">Siga o Alumiar</h1>
                <article class="secao">
                     <img class="redes-socias" src="img/FACE.png" alt="" />
                     <img class="redes-socias" src="img/INSTA.png" alt="" />
                </article>
            </article>
            <article class="footer-form">
                <h3 class="secao-textos alinhar-texto-centro">ACOMPANHE OS ANIMAIS QUE CHEGAM PARA ADOÇÃO </h3>
			    	<!-- Formulário da NewsLetter -->
			        <form class="secao" action="/admin/newsletter/saveEmail" method="POST">
			        	<div>
			            	<input  class="campo-form" type="text" name="nome" placeholder="Nome"/>
			                <input class="campo-form" type="text" name="email" placeholder="Email"/>
		                    <div>
		                    	<input class="botao-form bg-branco" type="submit" value="Acompanhar"/>
  		              		</div>
			            </div>
			        </form>
            </article >  
            <article class=" secao-textos alinhar-texto-centro rodape">
               <p>2017 ~ Alumiar. Todos os direitos reservados.</p>
            </article>
         </footer>
    </body>
</html>