<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/head">
	<head>
		<meta charset="UTF-8"/>
        <title>Alumiar/menu</title>
    </head>
    <body>
            <section class="barra-fixa secao bg-branco">
                    <img src="/img/barra.png" alt=""/>
            </section>
            <!-- Inicio -->
            <section class="secao secao-tamanho bg-azul-escuro margin-barra">
                <article >
                    <img class="logo" src="./img/logogif.gif" alt=""/>
                    <h1 class="secao-titulo titulo-inicio color-amarelo">Alumiar</h1>
    
                </article>
            </section>  
        <section class="barra-fixa secao bg-branco">
            <img src="./img/fechar-menu.png" alt=""/>
        </section>

        <a href="/o_projeto"><section class="secao secao-estrutura-titulo bg-amarelo margin-barra" id="secao-projeto-titulo">
            <h1 class="secao-titulo color-branco">O projeto</h1>
        </section></a>
        <a href="ensaios"><section class="secao secao-estrutura-titulo bg-turquesa" id="secao-ensaio-titulo">
            <h1 class="secao-titulo color-branco" >Ensaios</h1>
        </section></a>
        <a href="adote"><section class="secao secao-estrutura-titulo bg-laranja">
            <h1 class="secao-titulo color-branco">Adoção</h1>
        </section></a>
        <a href="apoio"><section class="secao secao-estrutura-titulo bg-vermelho">
            <h1 class="secao-titulo color-branco">Apoio</h1>
        </section></a>
        <a href="sobre_nos"><section class="secao secao-estrutura-titulo bg-azul-escuro">
            <h1 class="secao-titulo color-branco">Sobre nós</h1>
        </section></a>
        <section class="sociais-menu">
            <div class="sociais-menu-img bg-face-menu bg-img-estrutura"></div>
            <div class="sociais-menu-img bg-insta-menu bg-img-estrutura"></div>
        </section>

    </body>
</html>