<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista Animais</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h2>LISTA DE ANIMAIS</h2>
		</div>
		<div th:if="${message}" class="alert alert-success" role="alert">
			<p th:text="${message}">success message</p>
		</div>
		<div>
			<a class="btn btn-info pull-right" th:href="@{/admin/animais/form}">Voltar</a>
		</div>
		<div id="listaAnimais">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>FOTO</th>
						<th>TIPO ANIMAL</th>
						<th>NOME</th>
						<th>RAÇA</th>
						<th>IDADE</th>
						<th>PELAGEM</th>
						<th>SEXO</th>
						<th>DESCRIÇÂO</th>
						<th>CUIDADOS</th>
						<th>EDITAR</th>
						<th>APAGAR</th>
					</tr>
				</thead>
				<tr th:each="animal : ${animais}">
					<td><span th:text="${animal.id}"></span></td>
					<td th:each="file : ${files}">
						<img width="100" th:src="${file}"/>
					</td>
					<td><span th:text="${animal.animal}"></span></td>
					<td><span th:text="${animal.nome}"></span></td>
					<td><span th:text="${animal.raca}"></span></td>
					<td><span th:text="${animal.idade}"></span></td>
					<td><span th:text="${animal.pelagem}"></span></td>
					<td><span th:text="${animal.sexo}"></span></td>
					<td><span th:text="${animal.descricao}"></span></td>
					<td><span th:text="${animal.cuidados}"></span></td>
					<td><a href="#" th:href="@{/admin/animais/edit/} + ${animal.id}">Editar</a></td>
					<td><a href="#" th:href="@{/admin/animais/delete/} + ${animal.id}">Delete</a></td>
				</tr>
			</table>
		</div>
	</div>		
</body>
</html>	