<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Alumiar/Cadastro Animal</title>
    </head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" th:href="@{/}">Alumiar Administração</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Animais
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a th:href="@{/admin/animais/form}">Novo</a></li>
	          <li><a th:href="@{/admin/animais/listar}">Listar</a></li>
	        </ul>
	      </li>
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Endereços de E-mail
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a th:href="@{/admin/newsletter/listEmails}">Listar</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div>
	</nav>
    <section class="panel panel-default container">
        <div class="panel-heading ">
			<strong>Formulário de Catalogação</strong>
		</div>
    	<div class="panel-body">  
        <form class="form-horizontal" action="/form/admin/cadastraAnimal" method="POST" enctype="multipart/form-data">
           <div class="form-group">
 					<fieldset>
						<div class="form-group row">                                                          
							<div class="col-md-4">
							    <label>Nome</label>
							    <input type="text" class="form-control input-sm" name="nomeAnimal" autofocus="autofocus" placeholder="Informe o Nome" maxlength="50"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4">
								<label>Raça</label> 
								<input type="text" class="form-control input-sm" name="raca" maxlength="150" placeholder="Informe o Raça"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4">
								<label>Tipo</label> 
								<input type="radio" checked="checked" class="radio radio-inline" name="tipoAnimal" value="Cachorro"/> Cachorro
								<input type="radio" class="radio radio-inline" name="tipoAnimal" value="Gato"/> Gato
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4">
								<label>Sexo</label> 
								<input type="radio" checked="checked" class="radio radio-inline" name="sexo" value="Macho"/> Macho
								<input type="radio" class="radio radio-inline" name="sexo" value="Femea"/> Femea
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4">
								<label>Pelagem</label> 
								<input type="radio" checked="checked" class="radio radio-inline" name="pelagem" value="Curta"/> Curta
								<input type="radio" class="radio radio-inline" name="pelagem" value="Media"/> Média
								<input type="radio" class="radio radio-inline" name="pelagem" value="Longa"/> Longa
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4">
								<label>Idade</label> 
								<input type="radio" checked="checked" class="radio radio-inline" name="idade" value="Filhote"/> Filhote
								<input type="radio" class="radio radio-inline" name="idade" value="Adulto"/> Adulto
								<input type="radio" class="radio radio-inline" name="idade" value="Idoso"/> Idoso
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4">
								<label>Descrição</label>
								<textarea class="form-control input-sm" name="desc" cols="5" rows="5" placeholder="Informe a Descrição"></textarea>
							</div>
						</div>
						
						<div class="form-group row">
							<div class="col-md-4">
								<label>Cuidados</label>
								<textarea class="form-control input-sm" name="cuidados" cols="5" rows="5" placeholder="Informe os cuidados especiais que ele precisa"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" >
								<label>Status</label> 
								<input type="radio" class="radio radio-inline" name="isAdotado" value="Adotado"/> Adotado
								<input type="radio" checked="checked" class="radio radio-inline" name="isAdotado" value="Não Adotado"/> Não Adotado
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" >
								<label>Selecione a foto do bixinho:</label> 
								<input class="radio radio-inline" type="file" name="myImage" required="required"/>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/admin/animais/listar}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
        </form>
        </div>
    </section>
    <script src = "/libs/jquery-3.1.1.min.js"></script>
</body>
</html>