<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/head">
	<head>
		<meta charset="UTF-8"/>
        <title>Alumiar/menu</title>
    </head>
<body>
    <section class="corpo">
        <h1 class="fonte-titulo">Formulário de Catalogação</h1>
        <form class="fonte-textos" action="/form/admin/cadastraAnimal" method="POST" enctype="multipart/form-data">
            <article>
                <h4>Nome: </h4>
                <input class="input-formulario" type="text" name="nomeAnimal"/>
            </article>

            <article  >
                <h4 >Raça:</h4>
                <input class="input-formulario" type="text" name="raca"/>
            </article>

            <article>
                <h4>Tipo:</h4>
                <input type="radio" checked="checked" name="tipoAnimal" value="Cachorro"/>Cachorro
                <input type="radio" name="tipoAnimal" value="Gato"/>Gato
            </article>

            <article>
                <h4>Sexo:</h4>
                <input type="radio" checked="checked" name="sexo" value="Fêmea"/>Fêmea
                <input type="radio" name="sexo" value="Macho"/>Macho
            </article>

            <article>
                <h4>Pelagem:</h4>
                <input type="radio" checked="checked" name="pelagem" value="Curta"/>Curta
                <input type="radio" name="pelagem" value="Média"/>Média
                <input type="radio" name="pelagem" value="Longa"/>Longa   
            </article>  

            <article>
                <h4>Idade:</h4>
                <input type="radio" checked="checked" name="idade" value="Filhote"/>Filhote
                <input type="radio" name="idade" value="Adulto"/>Adulto
                <input type="radio" name="idade" value="Idoso"/>Idoso
            </article> 

            <article>
                <h4>Descrição:</h4>
                <input class="input-formulario" type="text" name="desc"/> 
            </article>

            <article>
                <h4>Cuidados especiais:</h4>
                <input class="input-formulario" type="text" name="cuidados"/>
            </article>
                        
		    <article>
                <h4>Status:</h4>
                <input class="input-formulario" type="radio" checked="checked" name="isAdotado" value="true"/>Adotado
                <input class="input-formulario" type="radio" name="isAdotado" value="false"/>Não Adotado
            </article>

            <article>
                <h4>Selecione a foto do bixinho: </h4>
                <input class= "img-animal" type="file" name="myImage" required="required"/>
            </article>

            <article class="botao">
                <input class="input-botao-cadastrar" type="submit" value="Cadastrar"></input> 
                <input class="input-botao-cancelar" type="submit" value="Cancelar"></input>
            </article>       

        </form>
    </section>
    
</body>
</html>